<nav class="navbar navbar-expand-lg navbar-dark bg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MUSEX</a>
    <!--Add searchbar-->
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item authButton" *ngIf="!(authService.isLoggedIn() | async)">
          <a class="nav-link" routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
        </li>
        <li class="nav-item authButton" *ngIf="!(authService.isLoggedIn() | async)">
          <a class="nav-link" routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link loggedBtn" *ngIf="authService.isLoggedIn() | async" [routerLink]="['/profile',userId]" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link loggedBtn" *ngIf="authService.isLoggedIn() | async" (click)="authService.logout()" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
