// Variables
$navbar-bg-color: #000000;
$navbar-text-color: white;
$navbar-special-text-color: #FF6060;

// Styles
nav {
  background-color: $navbar-bg-color;
  color: $navbar-text-color;
  padding: 1em;

  .navbar-brand{
    font-size: 3em;
    font-weight: 900;
    text-decoration: none;
    color: $navbar-special-text-color;


  }

  .authButton, .loggedBtn {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border: 1px solid #fff;
    border-radius: 0.25rem; /* Adjust the value for more or less rounded edges */
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    &:hover{
      background-color: rgba(255, 255, 255, 0.1);
    }
  }


  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: auto;

    li {
      display: inline;
      margin-right: 4em;




      a {
        color: $navbar-text-color;
        text-decoration: none;
        font-size: 1.3em;

        &:hover {
          color: $navbar-special-text-color;
        }
      }
    }
  }
}
