<nav class="navbar navbar-expand-lg navbar-dark bg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MUSEX</a>
    <form [formGroup]="searchForm" class="d-flex searchBar" (ngSubmit)="onSubmit()">
      <input class="form-control me-2" id="search" formControlName="search" type="search" placeholder="Search" aria-label="Search">
      <div class="btnWrp nav-item" id="sBtn">
        <a class="nav-link" type="submit">Search</a>
      </div>
    </form>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex">
        <li class="nav-item btnWrp" id="log" *ngIf="!(authService.isLoggedIn() | async)">
          <a class="nav-link" routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
        </li>
        <li class="nav-item btnWrp"  *ngIf="!(authService.isLoggedIn() | async)">
          <a class="nav-link" routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link loggedBtn" *ngIf="authService.isLoggedIn() | async" [routerLink]="['/profile',userId]" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link loggedBtn" *ngIf="authService.isLoggedIn() | async" (click)="authService.logout()" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
