section
{
    background-color: #2E2E2E;

    .card-body{
        background-color: #000000;

    }
    .card{
        background-color: #000000;
        border-width: 0.2rem;
        border-color: white;
        color: white;
    }

    li{
      background-color: #000000;
      border-radius: 90;
      color: white;
    }

    .editBtn{
        height: 2.8em;
        margin-left: 0.9em;
        margin-top: 0.7em;
        position: relative;

    }

    .editBtnWrapper{

        height: 4.5em;
        width: 4.5em;
        margin-right: 6em;
        margin-top: 1em;
        float: right;
        border-radius: 90%;
        background-color: #2E2E2E;
        transition: background-color 0.3s ease;
        &:hover{
            background-color: #3f3f3f;

        }
    }

    .subBtnWrp{
      position: absolute;
      top: 490%;
      right: 65%;
    }
    .btn{
      background-color: #FF6060;
      border-width: 0;
      border-radius: 5%;
      font-size: 1.5em;
      &:hover{
        background-color: #000000;
        color: #FF6060;
      }
    }

}
